
.main {
    padding: 20px;
    font-size: 14px;
    font-family: "Helvetica";
    max-width: 960px;
}

ul {

}

ul li {
    margin-left: 20px;
}

h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 5px;
}

h1, h2 {
    margin-top: 30px;
    font-family: robothead;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

p, table {
    margin-top: 1em;
    margin-bottom: 1em;
}

pre, code, table.methods td, table.fields td {
    font-family: "Courier";
    background-color: #EEE;
    padding: 2px;
}

pre, code, table.methods td, table.fields td {
    font-size: 12px;
}

pre {
    background-color: #EEE;
    padding: 5px;
    line-height: 1.4em;
}

table.methods td pre {
    border: none;
}

.toc {
}

.toc > a {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: bold;
}

.toc ul.routes {
    font-family: "Courier";
}

.route h3 {
    font-family: "Courier";
}

.route div {
    margin-bottom: 5px;
} 

.route pre span {
    font-weight: bold;
}


.spritesheet {
    float: left;
    margin: 10px;
}

.clear {
    clear: both;
}
