@font-face {
    font-family: robot;
    src: url('/assets/robot.ttf')  format('truetype');
}

body {}

.container.main {
    position: relative;
}

#logo {
    margin-bottom: 30px;
    display: block;
    color: #000;
    height: 10px;
}

#logo img {
    position: absolute;
    height: 80px;
}

#logo .main.name {
    font-family: robot;
    font-size: 50px;
    margin-top: 40px;
    margin-left: 100px;
    position: relative;
}

pre {
    color: #D14;
}


#frameViewer {
    margin-top: 20px;
    clear: both;
}


.documentation h2 {
}

.documentation .methods {
    margin-bottom: 20px;
}

.documentation .methods th {
    text-align: left;
    padding: 8px;
    font-size: 16px;
}

.documentation table td {
    padding: 8px;
    border: solid 1px #DDD;
}