@font-face {
    font-family: robot;
    src: url('/assets/robot.ttf')  format('truetype');
}

body {}

#logo {
    height: 250px;
    margin-bottom: 30px;
    display: block;
    color: #000;
}

#logo img {
    float: left;
}

#logo .main.name {
    font-family: robot;
    font-size: 80px;
    margin: 10px;
    position: relative;
    top: 70px;
}

#logo .main.name div {
    height: 60px; 
}

#nav {
    margin: 30px; 
}


pre {
    color: #D14;
}



.documentation h2 {
}

.documentation .methods {
    margin-bottom: 20px;
}

.documentation .methods th {
    text-align: left;
    padding: 8px;
    font-size: 16px;
}

.documentation table td {
    padding: 8px;
    border: solid 1px #DDD;
}