
header.sidebar {
    font-family: knightsquest;
    color: #FFF;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 160px;
    background: url(/assets/headerbg2.png);
    height: 100%;
    padding: 5px;
}

header .links {
    clear:both;
    margin-top: 10px;
}

header .links a {
    font-family: knightsquest; 
    color: #FFF;
    font-size: 26px;
    padding: 5px;
}



#botInfo {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#botInfo .inside {
    background-color: #FFF;
    width: 200px;
    margin-top: 100px;
    margin: 100px auto;
    padding: 10px;
}

#botInfo .sprite {
    display: block;
    float: right;
}

body {
    background: url(/assets/headerbg.png);
}

#container {
    background-color: #F00;
    background: url(/assets/headerbg.png);
    padding: 32px;
    margin-left: 160px;
}

#viewer {
    background: url(/assets/angbandtk/bgtile.png) #5c5;
    box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    position: relative;
}

.bot {
    /*background-color: #000;*/
    width: 32px;
    height: 32px;
    position: absolute;

    /*background: url(/assets/angbandtk/dg_classm32.gif);*/

    transition: all linear 300ms;
    -webkit-transition: all linear 300ms;
}

.bot:hover {
    box-shadow: inset 0px 0px 5px 5px #FCF766;
}

.info {
    float: right;
    margin: 15px;
}


















h2.leaderboard {
    margin-top: 20px;
    /*border-bottom: solid 1px #FFF;*/
    background-color: #FFF;
    color: #000;
}


table.leaderboard td {
    font-size: 14px;
}

table.leaderboard td a.name {
    max-width: 90px;
    overflow: hidden;
    max-height: 14px;
    display: block;
    color: #FFF;
}

